<html>
<body>
<h3>VDI Title Fragment mapping status</h3>
<table border="2" style="border-collapse: collapse;">
    <thead>
    <tr style="text-align: center">
        <td><b>Method</b></td>
        <td><b>Rule</b></td>
        <td><b>Description</b></td>
        <td><b>Status</b></td>
        <td><b>Message</b></td>
    </tr>
    </thead>
    <tbody>
    {{#VdiTitle}}
        <tr>
            <td width="100px">{{type}}</td>
            <td width="100px">{{rule}}</td>
            <td>{{desc}}</td>
            <td>{{status}}</td>
            <td>{{message}}</td>
        </tr>
    {{/VdiTitle}}
    </tbody>
</table>

<h3>LDI Scheduled Airing Fragment mapping status</h3>
<table border="2" style="border-collapse: collapse;">
    <thead>
    <tr style="text-align: center">
        <td><b>Method</b></td>
        <td><b>Rule</b></td>
        <td><b>Description</b></td>
        <td><b>Status</b></td>
        <td><b>Message</b></td>
    </tr>
    </thead>
    <tbody>
    {{#LdiScheduledAiring}}
        <tr>
            <td width="100px">{{type}}</td>
            <td width="100px">{{rule}}</td>
            <td>{{desc}}</td>
            <td>{{status}}</td>
            <td>{{message}}</td>
        </tr>
    {{/LdiScheduledAiring}}
    </tbody>
</table>

</body>
</html>