<html>
<body>
<h3>VDI Title Fragment mapping status</h3>
<table border="1">
    <thead>
    <tr>
        <td>Rule</td>
        <td>Description</td>
        <td>Status</td>
        <td>message</td>
    </tr>
    </thead>
    <tbody>
    {{#VdiTitle}}
        <tr>
            <td>{{rule}}</td>
            <td>{{desc}}</td>
            <td>{{status}}</td>
            <td>{{message}}</td>
        </tr>
    {{/VdiTitle}}
    </tbody>
</table>
</body>
</html>